
@font-face {
    font-family: 'feather';
    src:  url('../fonts/feather/fonts/feather.eot?9xfrq8');
    src:  url('../fonts/feather/fonts/feather.eot?9xfrq8#iefix') format('embedded-opentype'),
    url('../fonts/feather/fonts/feather.ttf?9xfrq8') format('truetype'),
    url('../fonts/feather/fonts/feather.woff?9xfrq8') format('woff'),
    url('../fonts/feather/fonts/feather.svg?9xfrq8#feather') format('svg');
    font-weight: normal;
    font-style: normal;
}

.custom-breadcrumb {
    display: inline-block;
    background-color: transparent;
    padding: 5px;
    margin-bottom: 0 !important;
}

.custom-breadcrumb li{
    font-size: 16px;
}

.bg-blue-grey.bg-lighten-2 {
    background-color : #90A4AE !important;
}
.bg-blue-grey.bg-darken-1 {
    background-color: #546E7A !important;
}
.border-success {
    border: 1px solid #8bc053 !important;
}
.border-warning {
    border: 1px solid #f7bb43 !important;
}

a:focus, a:hover{
    text-decoration: none !important;
}