/*-----------------------*/
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 4% auto 2%;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 200px #7ac142;
    }
}
/*--------------------------*/
.center-element {
    text-align: center;
    float: none;
    margin: 50px auto;
}

#check-code-box, #check-email-box{
    display: none;
}
.success_message{
    display: none;
}

.error{
    border-color: #FF7588 !important;
    color: #FF7588 !important;
}
.error-text{
    color: #FF7588 !important;
}
.custom-control-indicator + .custom-control-description{
    margin: 0 !important;
}
.jscolor{
    font-size: 10px !important;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.register-project-container{
    padding:40px 20px;
    float: right;
}

.no-padding{
    padding:0 !important;
}

.center-text{
    text-align: center;
}

.project_method{
    cursor: pointer;
    padding: 10px 0 !important;
}

.project_method:hover{
    opacity:0.8;
}

.project_types_section .media{
    padding: 5px !important;
    min-height:250px;
    color:#fff;

}

.media .media-center{
    bottom: 0;
    position: absolute;
}

.custom-control-indicator{
    width: 20px;
    height: 20px;
}

.project_details_row{
    padding: 10px 0 10px !important;
    border-bottom: 1px solid #ccc;
}

.calculate_price_box{
    padding: 20px 15px;
    color: #fff;
}

.suggest_time{
    color: #fff;
    padding: 5px;
    font-size: 10px;
    border-radius: 3px;
    margin-top: 10px;
}
.bid-image-user{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.suggest_price_value{
    line-height: 2;
    text-align: center;
    font-size: 16px;
    font-weight: bold
}
.suggest_price_title{
    text-align: center;
    font-size: 10px;
}
#suggest_list{
    display: none;
}
.suggest_item {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.circle-icon-suggest{
    border-radius: 60px;
    width: 50px;
    height: 50px;
    line-height: 60px;
    border-width: 2px !important;
    padding: 0;
    text-align: center;
}

.upload_final_file_box{
    height: 210px;
    border: 2px dashed #00B5B8;
    color: #00B5B8;
    font-size: 100px;
    text-align: center;
    line-height: 230px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #F5F7FA;
}

.upload_final_video_box{
    height: 210px;
    border: 2px dashed #00B5B8;
    color: #00B5B8;
    font-size: 100px;
    text-align: center;
    line-height: 230px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #F5F7FA;
}

.action_icon_edit{
    position: absolute;
    bottom: 5px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}
.description_edit{
    height: 90px;
}
.action_icon_edit:hover{
    opacity: 0.8;
}
.confirm_description_tick{
    left: 35%;
    color: #12b181;
}
.reject_description_tick{
    right: 35%;
    color: #f05b4f;
}
.notification-text{
    line-height: 20px;
}

.table th, .table td {
    text-align: center;
}

.half-circle {
    width: 200px;
    height: 100px; /* as the half of the width */
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0.5;
}

.half-circle:hover{
    opacity: 1;
    background-color: #f05b4f;
    color: #fff;
}

.edit_user_pic_btn{
    position: absolute;
    bottom: 4px;
    width: 90px;
    text-align: center;
    margin: 0 5px;
    height: 45px;
    color: #000;
    line-height: 30px;
    cursor: pointer;
}

.delete_gallery {
    color: #000;
    background-color: #fff;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.delete_gallery:hover {
    color: #FFF;
    background-color: #f05b4f;
    opacity: 1;
}

.rate_table {
    
}

.fa-star , .fa-star-o{
    color: #FF9800 !important;
    font-size: 18px;
    cursor: pointer;
}
.customer{
	background-color: #563448 !important
}
.customer .row .col-md-12 h1 {
	color: #fff;
	
}
.single-service img{
	padding: 10px 0;
	margin: 10px 0
}
