
* {
  margin: 0;
  padding: 0;
  list-style: none;
}


.demo-wrap { margin-top: 150px; }

.demo-wrap .demo {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
}

.slide-wrap {
  width: 100%;
  height: 550px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  float: right;
}

.slide-wrap li {
  display: none;
  width: 300px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0px 10px 20px #888;
}

.slide-wrap .inner {
  position: relative;
  border: 3px solid #ecfdfd;
  border-radius: 5px;
}

.slide-wrap .inner a {
  text-decoration: none;
  border: none;
  outline: none;
}

.slide-wrap .pic-tit {
  font-size: 14px;
  width: 100%;
  height: 65px;
  line-height: 65px;
  background: #1ca297;
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: 99999;
  text-align: center;
  color: #FFF;
  overflow: hidden;
}

.slide-wrap img {
  width: 100%;
  border: none;
  outline: none;
}

.slide-wrap .pos1 {
  display: block;
  /*width: 180px;*/
  /*height: 236px;*/
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  /*top: 60px;*/
  left: 3%;
  z-index: 1;
}

.slide-wrap .pos2 {
  display: block;
  /*width: 220px;*/
  /*height: 286px;*/
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  /*top: 35px;*/
  left: 18%;
  z-index: 2;
}

.slide-wrap .pos3 {
  display: block;
  /*width: 300px;*/
  /*height: 390px;*/
  top: 0;
  left: 37%;
  z-index: 3;
}

.slide-wrap .pos4 {
  display: block;
  /*width: 220px;*/
  /*height: 286px;*/
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  /*top: 35px;*/
  left: 51%;
  z-index: 2;
}

.slide-wrap .pos5 {
  display: block;
  /*width: 180px;*/
  /*height: 236px;*/
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  /*top: 60px;*/
  left: 61%;
  z-index: 1;
}

.slide-wrap .inner {
  overflow: hidden;
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #384047;
  color: #fff;
  position: absolute;
  top: 210px;
  z-index: 10;
  cursor: pointer;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  font-style: normal;
}

.prev {
  right: 185px;
  background-position: -52px 0px;
}

.next {
  left: 185px;
  background-position: 0px 0px;
}

.low-opacity{
  width: 100%;
  height: 550px;
  background: radial-gradient(transparent, #fff 70%);
  opacity: 0.5;
  z-index: 2;
  position: absolute;
}
