@import url(fontiran.css);
body {
    font-family: IRANSans !important;
    font-weight: 300;
    direction: rtl;
    background-color: #ffffff;
    margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
    font-family: IRANSans !important;
}
a{
    text-decoration: none !important;
}
.footer a:hover{
    color: #58a5c0;
}

.no-padding{
    padding: 0 !important;
}
.nav-top{
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 25px 0px rgba(32, 42, 54, 0.47);
    top:32px;
    /*left:7%;*/
    /*position: absolute;*/
    height: 59px;
    display: flex;
    flex-flow: row;
    margin:0 auto !important;
}
.nav-top .nav-item{
    text-align: center;
}
.nav-top .menu-bar a{
    color: #202a36;
    text-decoration: none;

}
.nav-top a:hover{
    color: #499abb !important;
    text-decoration: none;

}
.nav-top .menu-bar li:hover li a{
    color: #499abb !important;
}
.logo-fa{
    background-image: url("../images/Layer 802.png");
    width: 138px;
    height: 39px;
    margin:-6px auto;
}
.navigate{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 150px;

}
.x .item{
    border-radius: 50%;
    background-color: rgb(32, 42, 54);
    box-shadow: 0px 3px 100px 5.1px rgba(47, 143, 176, 0.85);
    position: relative;
    width: 138px;
    height: 138px;
    top: -83px;
    margin:0px auto;
    transition: 500ms;
}

.x .item:hover{
    background-color: rgb(47, 143, 176);
    box-shadow: 0px 3px 45.9px 5.1px rgba(47, 143, 176, 0.85);
    transition: 500ms;
    transform: scale(1.15);

}
.img-nav0{
    background-image: url("../images/Vector Smart Object.png");
    position: relative;
    width: 45px;
    height: 55px;
}
.img-nav1{
    background-image: url("../images/dvr.png");
    position: relative;
    width:39px;
    height: 32px;
}
.img-nav2{
    background-image: url("../images/map.png");
    position: relative;
    width:46px;
    height: 51px;
}
.img-nav3{
    background-image: url("../images/camera.png");
    position: relative;
    width: 63px;
    height: 48px;
}
.img-nav4{
    background-image: url("../images/download.png");
    position: relative;
    width: 53px;
    height: 56px;
}
.img-nav5{
    background-image: url("../images/pc.png");
    position: relative;
    width: 63px;
    height: 55px;
}
.title-nav{
    position: relative;
    top:-109px;
    text-align: center;
    font-size: 18px;
    color: #202b37;
    display: none;
    transition: 500ms;
    transform: translate(1,1);
}
.x:hover .title-nav{
    display: block;
    transition: 500ms;
    transform: translate(1,1);
}
.x:hover .item{
    background-color: rgb(47, 143, 176);
    box-shadow: 0px 3px 45.9px 5.1px rgba(47, 143, 176, 0.85);
    cursor: pointer;
    transition: 500ms;
    transform: scale(1.15);
}
.latest-news{
    display: flex;
    flex-flow: column;
}
.title-news{
    font-size: 22px;
    color: #202b37;
    text-align: center;
    font-weight:bold;
    position: relative;
    top:27px;
}
.sub-title-news{
    color: #58a5c0;
    font-size: 16px;
    text-align: center;
    position: relative;
    top:39px;
}
.border{
    height: 3px;
    background-color: #202b37;
    width: 60px;
    position: relative;
    top: 45px;
    margin: 0 auto;
}
.poster-item{
    width: 338px;
    height: 500px;
    background-color: #0b2e13;
}
.item-news {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 40px 132.3px 1.7px rgba(0, 0, 0, 0.38);
    position: relative;
    /*width: 333px;*/
    height: 462px;
    display: flex;
    flex-flow: column;
    /*margin:90px auto;*/
}
.nav-top .item a{
    padding-top: 8px;
}
.title-item-news{
    margin: 3%;
    text-align: justify;
    line-height: 1.2;
    font-size: 14px;

}
.desc-item-news{
    color: #b2b2b2;
    margin: 14px;
    text-align: justify;
    line-height: 1.2;
    font-size: 12px;
}
.details-item-news{
    border-top: 2px solid #f0f0f0 ;
    margin: 14px;
    margin-top: 10%;
}
.footer {
    border-radius: 6px;
    background-color: rgb(247, 248, 252);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: auto;
    margin-top: 120px;
    z-index: 3;
}
.footer-nav {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

.footer-nav-item a{
    text-align: center;
}
.footer-nav-item{
    color: #202a36;
    font-size: 18px;
    margin-top: 15px;
}
.footer-nav-item:hover a{
    color: #58a5c0;
}
.phone-number {
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 44.1px 0.9px rgba(32, 42, 54, 0.32);
    height: 55px;
    z-index: 4;
    top:-25px;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
}
.input{
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 25px;
    left: 37px;
    background-color: #ecedf1;
    padding-right: 187px;
}
.links i{
    color: #adadad;

}
.links :hover{
    color: #202a36 !important;
}
.imen{
    font-size: 12px;
    color: #c5cdd9;
    display: flex;
    flex-flow:row;
    margin:8px;
    
}
.imen a{
    font-weight: bold;
    color: #202a36;
}
/*.menu-bar{*/
    /*list-style: none;*/
    /*height: auto;*/
    /*position: relative;*/
    /*display: flex;*/
    /*z-index: 102;*/
/*}*/
@media (max-width: 570px){
    .menu-bar{
        flex-flow: column;
    }
}
.item-3 , .item-4{
    top:-58px !important;
}
.item-1 , .item-6{
    top:-124px !important;
}
@media (max-width: 991px){
    .item-3{
        top: -124px !important;
    }
    .item-6{
        top:-58px !important;
    }
    .item-5{
        top:0px !important;
    }
    .x p{
        display: none !important;
    }
    .links{
        border-left: none !important;
    }
    .sub-footer{
        margin-top: 77px !important;
        border-top:  1px solid #d9dbe0;
    }
}